<h1>Events</h1>

<p>
    Events can be passed by windows or widgets, either up (i.e. to every parent
    widget, up to the root window), or down (i.e. to every child in the tree of
    this window or widget, but not parents and siblings).
</p>

<p>
    This is used when listening to events via either the standard
    <a href="https://nodejs.org/api/events.html">EventEmitter</a>
    interface or via <a href="handlers.html">WidgetHandlers</a>
    and their listener infrastructure.
</p>