<h1>Nowis Protocol</h1>

<p>
    <pre style="display: inline">nowis://</pre> is the window control protocol used
    by the Nowis server. It can create and destroy windows, widgets, set data, and
    events.
</p>

<p>
    It's similar to RPC. The format of each call is a JSON object with a trailing
    line feed as a buffering separator. The JSON object contains three properties:
</p>

<ul>
    <li>The <b>id</b>, to identify this call, so that the respective response can be found;</li>
    <li>The <b>type</b>, which is described below;</li>
    <li>The <b>command</b>, which, again as seen below, is either a Query or a Performer.</li>
</ul>

<p>
    There are two types of calls:
</p>

<ul>
    <li>Queries;</li>
    <li>Performers.</li>
</ul>

<p>
    <b>Queries</b> will obtain information from the
    server, and <b>Performers</b> will perform window
    management operations.
</p>

<p>
    For more info, see <pre style="inline">nowis.core/src/protocol.ts</pre>.
</p>